html
  head
    title IAP Hello Verified User
  body
  h1 Hello Verified User

  p Hello, #{email} ! Your persistent ID appears to be #{id}.

  p Your verified email is #{verified_email}, and your verified persistent ID is #{verified_id}.

  p This is step 3 of the User Authentication with IAP codelab.
